<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612848200627-6472vj7vu36acbuau1ufo13hv0jau3vj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612848200627-6472vj7vu36acbuau1ufo13hv0jau3vj</string>
	<key>API_KEY</key>
	<string>AIzaSyCkKp0xts-5Ra4pwEr6nwtWMATFNc8DJxc</string>
	<key>GCM_SENDER_ID</key>
	<string>612848200627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.chungjungsoo.gptmobile</string>
	<key>PROJECT_ID</key>
	<string>chatgpt-android-f79b5</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgpt-android-f79b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612848200627:ios:d140f6abaa9df1cfe779c6</string>
</dict>
</plist>