<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".presentation.GPTMobileApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_gpt_mobile"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPTMobile.Starting"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.GPTMobile.Starting" />
        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.GPTMobile.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.startscreen.StartScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.GPTMobile" />
    </application>

</manifest>